* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: auto;
}

/* header */
header {
  background: url("../images/anhnen.jpg") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
header .row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e8e8e8;
}
header .row-header .logo {
  font-size: 70px;
}
header .row-header .logo i {
  animation-name: logo-spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-delay: 0s;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header .row-header .icon ul li {
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
  padding: 10px 0px;
  position: relative;
}
header .row-header .icon ul li ul {
  position: absolute;
  top: 150%;
  right: 0px;
  width: 150px;
  background: #7d7d7d;
  padding: 10px 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
header .row-header .icon ul li:hover ul {
  top: 100%;
  opacity: 1;
  visibility: inherit;
}
header .row-header .icon ul li ul li {
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  margin: 0;
}
header .row-header .icon ul li .cart {
  position: absolute;
  right: 0;
  top: 150%;
  background: #7d7d7d;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  width: 400px;
}
header .row-header .icon ul li:hover .cart {
  top: 100%;
  opacity: 1;
  visibility: inherit;
}
header .row-header .icon ul li .cart table {
  border-collapse: collapse;
}
header .row-header .icon ul li .cart table tr td {
  text-align: center;
  padding: 10px;
  border: 1px solid #d2cdcd;
}
header .row-header .icon ul li .cart table tr td a.payNow {
  color: #ffffff;
  background: #000000;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
}
header .row-header .icon ul li .cart table tr:nth-child(even) {
  background: #4e4e4e;
}
header .row-header .icon ul li .cart table tr td .close {
  color: #ffffff;
}
header .row-header .icon ul li .cart table tr td .close:hover {
  color: #000000;
}
header .row-header .icon ul li .cart table tr td a.payNow:hover {
  color: #000000;
  background: #ffffff;
}
header .row-header .icon ul li .cart table tr td input {
  border: none;
  width: 40px;
  height: 25px;
  padding-left: 10px;
  outline: 0;
  font-family: inherit;
}
header .row-header .icon ul li .cart table tr td p {
  color: #ffffff;
}
header .row-header .icon ul li .cart table tr td img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin: 0px auto;
}

/* main */
main .row-main {
  display: flex;
  justify-content: space-between;
}
main .row-main .left {
  width: 200px;
}
main .row-main .left .filter .title {
  margin-top: 30px;
  border-bottom: 1px solid #a9a9a9;
  color: #6f6f6f;
  font-weight: 700;
  padding-bottom: 5px;
  font-size: 15px;
}
main .row-main .left .filter .item {
  border-bottom: 1px dashed #dddddd;
  padding: 15px 0px;
}
main .row-main .left .filter .item h3 {
  font-weight: 600;
  font-size: 15px;
}
main .row-main .left .filter .item div {
  margin-top: 5px;
  background: #f7f7f7;
  padding: 5px 8px;
  border: 1px solid #ececec;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 12px;
}
main .row-main .left .filter .item input {
  -webkit-appearance: none;
  vertical-align: middle;
  height: 22px;
  width: 22px;
  background: #dcdcdc;
  margin-right: 10px;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
}
main .row-main .left .filter .item input:checked {
  background: #000000;
}

main .row-main .right {
  width: calc(100% - 230px);
}
main .row-main .right .products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .row-main .right .products .item {
  margin-top: 30px;
  width: 220px;
}
main .row-main .right .products .item:hover .image {
  padding: 10px;
  box-shadow: 0 0 3px 2px #969696;
}
main .row-main .right .products .item:hover .image div {
  bottom: 0;
}
main .row-main .right .products .item .image {
  position: relative;
  overflow: hidden;
  transition: all 0.4s linear;
  width: 100%;
  height: 330px;
}
main .row-main .right .products .item .image img {
  width: 100%;
  height: 330px;
  object-fit: cover;
}
main .row-main .right .products .item .image div {
  position: absolute;
  bottom: -15%;
  left: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.4s linear;
}
main .row-main .right .products .item .image div a {
  color: #ffffff;
}
main .row-main .right .products .item .info h1 {
  margin-top: 10px;
}
main .row-main .right .products .item .info p {
  margin-top: 10px;
  font-weight: 600;
}
/* banner */
main .banner {
  margin-top: 30px;
  width: 100%;
  background: url("../images/banner.jpg") no-repeat center top;
  background-size: cover;
  padding: 20px 0px;
}
main .banner .row-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .banner .row-banner .left {
  width: 50%;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
main .banner .row-banner .left i.fas.fa-bolt {
  color: #d0a056;
  font-size: 20px;
}
main .banner .row-banner .right {
  width: 50%;
  text-align: right;
}
main .banner .row-banner .right input {
  border: none;
  height: 35px;
  width: 300px;
  padding: 0px 10px;
  font-family: inherit;
}
main .banner .row-banner .right button {
  height: 35px;
  border: none;
  padding: 0px 15px;
  background: #d0a056;
  color: #ffffff;
  font-family: inherit;
  cursor: pointer;
}
/* news */
main .row-news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .row-news .item {
  width: 48%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
main .row-news .item .left {
  width: 80px;
}
main .row-news .item .left .date {
  text-align: center;
  background: #000;
  color: #d0a056;
  padding-bottom: 10px;
}
main .row-news .item .left .date h5 {
  font-size: 50px;
}
main .row-news .item .left .share {
  background: #d0a056;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  position: relative;
}
main .row-news .item .left .share .menu-share {
  position: absolute;
  background: #d0a056;
  left: 120%;
  top: 0px;
  display: flex;
  transition: all 0.4s linear;
  opacity: 0;
  visibility: hidden;
}
main .row-news .item .left .share:hover .menu-share {
  left: 100%;
  visibility: inherit;
  opacity: 1;
}
main .row-news .item .left .share .menu-share a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-left: 1px dashed #4e4e4e;
}
main .row-news .item .left .share .menu-share a:hover {
  color: #ffffff;
}
main .row-news .item .right {
  width: calc(100% - 100px);
}
main .row-news .item .right img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
main .row-news .item .right h1 {
  font-size: 25px;
  margin-top: 10px;
}
main .row-news .item .right p {
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
main .row-news .item .right div {
  font-size: 14px;
  margin-top: 10px;
}
main .row-news .item .right div span {
  font-style: italic;
}
/* footer */
footer {
  background: #f5f5f5;
  border-top: 1px solid #cccccc;
  margin-top: 30px;
}
footer .row-footer {
  display: flex;
  justify-content: space-between;
}
footer .row-footer .item {
  margin-top: 30px;
  width: 20%;
}
footer .row-footer .item .title {
  padding-bottom: 5px;
  border-bottom: 1px solid #cccccc;
  font-weight: 600;
}
footer .row-footer .item ul {
  margin-top: 10px;
}
footer .row-footer .item ul li {
  list-style: none;
  line-height: 20px;
  font-size: 14px;
}
footer .row-footer .item ul li a:hover {
  text-decoration: underline;
}
footer .author {
  margin-top: 30px;
  background: #000000;
  text-align: center;
  padding: 15px 0px;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 97%;
  }
  main .row-main .left {
    width: 30%;
  }
  main .row-main .right {
    width: 65%;
  }
  main .row-main .right .products .item {
    width: 48%;
  }
  main .banner .row-banner {
    flex-direction: column;
  }
  main .banner .row-banner .left {
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
  main .banner .row-banner .right {
    width: 100%;
    text-align: center;
  }
  main .news .item {
    width: 100%;
  }
  main .news .item .right img {
    height: 400px;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    width: 95%;
  }
  main .row-main {
    flex-direction: column;
  }
  main .row-main .left {
    width: 100%;
  }
  main .row-main .right {
    width: 100%;
  }
  main .row-main .right .products .item {
    width: 48%;
  }
  main .banner .row-banner {
    flex-direction: column;
  }
  main .banner .row-banner .left {
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin-bottom: 15px;
  }
  main .banner .row-banner .right input {
    width: 70%;
  }
  main .news .item {
    width: 100%;
  }
  main .news .item .right img {
    height: 200px;
  }
  footer .row-footer {
    flex-wrap: wrap;
  }
  footer .row-footer .item {
    width: 48%;
  }
}
