* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: auto;
}

header {
  background: url("../images/person-wearing-red-hoodie-1690081.jpg") no-repeat
    top center;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .row-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      color: #7d7d7d;
      font-size: 70px;

      i {
        animation-name: spin-logo;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-direction: normal;
      }
    }

    .icon {
      ul {
        li {
          display: inline-block;
          font-size: 18px;
          margin-left: 20px;
          position: relative;
          padding: 10px 0;

          a {
            color: #7d7d7d;
          }

          &:hover ul {
            top: 100%;
            opacity: 1;
            visibility: inherit;
          }

          &:hover .cart {
            top: 100%;
            opacity: 1;
            visibility: inherit;
          }

          ul {
            position: absolute;
            right: 0;
            top: 150%;
            background: #7d7d7d;
            width: 150px;
            padding: 10px 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease;

            li {
              width: 100%;
              font-size: 14px;
              padding: 5px 15px;
              margin: 0;

              a {
                color: #fff;
              }
            }
          }

          .cart {
            position: absolute;
            right: 0;
            top: 150%;
            background: #7d7d7d;
            padding: 10px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease;
            width: 400px;

            table {
              border-collapse: collapse;

              tr {
                td {
                  text-align: center;
                  border: 1px solid #ababab;
                  padding: 10px;

                  a.pay-now {
                    color: #fff !important;
                    background: #000;
                    display: inline-block;
                    padding: 8px 20px;
                    font-size: 16px;

                    &:hover {
                      color: #000 !important;
                      background: #fff;
                    }
                  }

                  .close {
                    color: #fff;
                    cursor: pointer;

                    &:hover {
                      color: #000;
                    }
                  }

                  input {
                    border: none;
                    font-family: inherit;
                    width: 40px;
                    height: 25px;
                    padding-left: 8px;
                    outline: 0;
                  }

                  p {
                    color: #fff;
                  }

                  img {
                    width: 40px;
                    height: 40px;
                    object-fit: contain;
                    margin: auto;
                  }
                }

                &:nth-child(even) {
                  background: #4e4e4e;
                }
              }
            }
          }
        }
      }
    }
  }
}

main {
  .row-main {
    display: flex;
    justify-content: space-between;

    .left {
      width: 200px;

      .filter {
        .title {
          margin-top: 30px;
          border-bottom: 1px solid #a9a9a9;
          color: #6f6f6f;
          font-weight: 600;
          padding-bottom: 5px;
          font-size: 15px;
        }

        .item {
          border-bottom: 1px dashed #ccc;
          padding: 15px 0;

          h3 {
            font-weight: 600;
          }

          div {
            margin-top: 5px;
            background: #f7f7f7;
            padding: 5px 8px;
            border: 1px solid #ececec;
            border-radius: 3px;
            text-transform: capitalize;
            font-size: 12px;
          }

          input {
            -webkit-appearance: none;
            height: 22px;
            width: 22px;
            background: #dcdcdc;
            vertical-align: middle;
            margin-right: 10px;
            border-radius: 3px;
            outline: 0;
            cursor: pointer;

            &:checked {
              background: #000;
            }
          }
        }
      }
    }

    .right {
      width: calc(100% - 230px);

      .products {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
          margin-top: 30px;
          width: 220px;

          .info {
            h1 {
              margin-top: 10px;
            }

            p {
              margin-top: 10px;
              font-weight: 600;
            }
          }

          &:hover .image {
            padding: 10px;
            box-shadow: 0 0 3px 2px #969696;

            div {
              bottom: 0;
            }
          }

          .image {
            position: relative;
            overflow: hidden;
            transition: all 0.4s linear;
            width: 100%;
            height: 330px;

            img {
              width: 100%;
              height: 330px;
              object-fit: cover;
            }

            div {
              position: absolute;
              bottom: -15%;
              left: 0;
              width: 100%;
              text-align: center;
              background: rgba(0, 0, 0, 0.8);
              transition: all 0.4s linear;
              padding: 10px 0;

              a {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .banner {
    margin-top: 30px;
    width: 100%;
    background: url("../images/gray-surface-450055.jpg") no-repeat center top;
    background-size: cover;
    padding: 20px 0;

    .get-promotion {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        width: 50%;
        color: #fff;
        font-size: 15px;
        letter-spacing: 5px;
        text-transform: uppercase;

        i.fas.fa-bolt {
          vertical-align: middle;
          color: #d0a056;
          font-size: 18px;
        }
      }

      .right {
        width: 50%;
        text-align: right;

        input {
          border: none;
          font-family: inherit;
          height: 35px;
          width: 50%;
          padding-left: 10px;
        }

        button {
          height: 35px;
          border: none;
          padding: 0 15px;
          background: #d0a056;
          font-family: inherit;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  .news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .item {
      width: 48%;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;

      .left {
        width: 80px;

        .share {
          text-align: center;
          background: #d0a056;
          line-height: 32px;
          cursor: pointer;
          position: relative;

          &:hover .social-network {
            left: 100%;
            visibility: inherit;
            opacity: 1;
          }

          .social-network {
            position: absolute;
            background: #d0a056;
            left: 120%;
            top: 0;
            display: flex;
            transition: all 0.4s linear;
            opacity: 0;
            visibility: hidden;

            a {
              display: inline-block;
              width: 32px;
              height: 32px;
              border-left: 1px dashed rgba(0, 0, 0, 0.3);

              &:hover {
                color: #fff;
              }
            }
          }
        }

        .date {
          text-align: center;
          background: #000;
          color: #d0a056;
          padding-bottom: 10px;

          h5 {
            font-size: 50px;
          }
        }
      }

      .right {
        width: calc(100% - 100px);

        img {
          height: 200px;
          width: 100%;
          object-fit: cover;
        }

        h1 {
          font-size: 25px;
          margin-top: 10px;
        }

        p {
          margin-top: 10px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }

        div {
          font-size: 12px;
          margin-top: 10px;

          span {
            font-style: italic;
          }
        }
      }
    }
  }
}

footer {
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  margin-top: 30px;

  .copy {
    margin-top: 30px;
    background: #000;
    text-align: center;
    color: #fff;
    padding: 15px 0;
  }

  .row-footer {
    display: flex;
    justify-content: space-between;

    .item {
      margin-top: 30px;
      width: 20%;

      .title {
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        font-weight: 600;
      }

      ul {
        margin-top: 10px;

        li {
          list-style: none;
          line-height: 22px;
          font-size: 12px;

          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@keyframes spin-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 95%;
  }
  main .row-main {
    flex-direction: column-reverse;
  }
  main .row-main .right {
    width: 100%;
  }
  main .row-main .left {
    width: 100%;
  }
  main .row-main .right .products .item {
    width: 48%;
  }
  main .banner .get-promotion {
    flex-direction: column;
  }
  main .banner .get-promotion .left {
    width: 100%;
    font-size: 10px;
    text-align: center;
  }
  main .banner .get-promotion .right {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  main .news .item {
    width: 100%;
  }
  footer .row-footer {
    flex-wrap: wrap;
  }
  footer .row-footer .item {
    width: 48%;
  }
  header .row-header .icon ul li .cart {
    display: none;
  }
}
